<div class="header">
    <button aria-label="Open Settings" onclick="toggleSidebar()" class="icon-btn" style="left:0;display:flex;align-items:center;justify-content:center">
        <svg width="24" height="24" aria-hidden="true">
            <use href="#ic-set"></use>
        </svg>
    </button>
    <h1>GLYPHLAB</h1>
    <p style="color:var(--accent);font-weight:600">INFINITE UNICODE EXPLORER</p>
    <button id="toolbarToggleBtn" aria-expanded="false" aria-label="Toggle Toolbar" onclick="toggleToolbar()" class="icon-btn" style="right:0" title="Toggle Toolbar">&#9660;</button>
</div>